/*~~~~~~~~~~~~~~~~~~~~GAMERS ZONE~~~~~~~~~~~~~~~~~~~~*/

/*=====================Navegador=====================*/

.logo{
	float : left;
	height: 100px;
	width: 100px;
}

nav{
	height: 100%;
	position: absolute;
	right: 0;
}

nav ul{
	position: relative;
	top: 35%;
	margin: 0;
	padding: 0;
}

nav li{
	display: inline-block;
	font-size: 130%;
	font-weight: 500;
	position: relative;
	padding-right: 20px;
}	

nav a{
	text-decoration: none;
	color: rgb(41, 169, 255);          /* <!/////////////////CAMBIAR///////// */
}

nav a:hover{
	color: rgba(255, 255, 255, 0.815);  /* <!/////////////////CAMBIAR///////// */
	transition: .5s;
}

header{
	background: rgb(0, 1, 82);   /* <!////////////////////CAMBIAR///////// */
	top: 0;
	position: sticky;
	z-index: 99;
	box-shadow: 0px 1px 10px;
}


header::after{
	content: '';
	display: table;
	clear: both;
}

.ul-item{
	font-family: "Audiowide", sans-serif, Verdana;
	font-size: 120%;
}



/*=====================Body y grid=====================*/

body{
	margin:0;
	background-color: rgb(161, 207, 255);
	font-family: "Nunito", sans-serif, Verdana;
	color: rgb(43, 43, 43);
}

p{
	font-family: "Nunito", sans-serif, Verdana;
	margin: 0 3%;
}
  
.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 15% 50% 40% 40%;
  }
  
 .grid-container h2{
 	text-align: center;
 	margin-bottom: 4%;
 }
  
.grid-container > div {
	padding: 2% 0;
	margin-bottom: 1%;
  }

.info{
	background-color: rgb(89, 163, 255);

  }

.carta{
	background-color: rgb(161, 207, 255);
  }

.localizanos{
	background-color: rgb(161, 207, 255);
	}

.titulo{
	font-family: "Audiowide", sans-serif, Verdana;
	margin: 2% 2% 4% 2%;
	font-size: 170%;
	text-align: center;
}

/*//////////////////////////  CARTA //////////////////////*/

.div_centrado{
	background-color: aquamarine;
	position: relative;
	width: 70%;
	height: 80%;
	margin: auto;
}


#i1, #i2, #i3, #i4{
	display: none;
}

.botones_carta{
	background-color: rgb(89, 163, 255);
	width: 100%;
	height: 7%;
	z-index: 80;
	position: relative;
}


.botones_carta label{
	font-family: "Audiowide", sans-serif, Verdana;
}


.botones{
	padding: 2% 4%;
	background-color: rgb(77, 88, 255);
	float: left;
}

.botones:hover{
	background-color: #8787ff;
}

.carta_container{
	background-color: rgb(89, 163, 255);
	position: relative;
	width: 100%;
	height: 93%;
	margin: auto;
}

.carta_item{
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 45% 5% 45% 5%;
}

.carta_item p{
	text-align: center;
}

.carta_item img{
	width: 60%;
	height: 60%;
	justify-self: center;
	align-self: center;
}


.slide_item{
	z-index: -1;
}

#i1:checked ~ .carta_container #bebidas, #i2:checked ~ .carta_container #hamburguesas, #i3:checked ~ .carta_container #sandwiches,
#i4:checked ~ .carta_container #postres{
	z-index: 50;
}

#i1:checked ~ .botones_carta #b1, #i2:checked ~ .botones_carta #b2, #i3:checked ~ .botones_carta #b3,
#i4:checked ~ .botones_carta #b4{
	background: #004bff;
}

/*//////// BONOS ///////////*/

.grid-container-bonos{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 25% 25% 25% 25%;
}

.subgrid{
	display: grid;
	align-self: center;
	padding: 2% 15% 2% 15%;
	grid-template-columns: 20% 60% 20%;
}

.subgrid img, form{
	justify-self: center;
	align-self: center;
}

.subgrid ul{
	list-style: none;
	padding: 1%;
}

#left{
	justify-items: left;
	/*align-items: auto;*/      /*///////////////////VER SI HAY QUE BORRAR */
	margin-left: 6%; 
}

#right{
	justify-items: right;
	/*align-items: auto;*/
	margin-right: 6%; 
	text-align: right;
}

#c1{
	background-color: rgb(89, 163, 255);
}

#c2{
	background-color: rgb(161, 207, 255);
}

/*//////////// TORNEOS /////////////*/

#torneos{
	justify-items: center;
	width: 50%;
	margin: 2% 25% 2% 25%;
	text-align: center;

}

.grid-container-torneos{
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 0% 30%;
}

.grid-container-torneos img {
	justify-self: center;
	align-self: center;
}

.grid-container-torneos form{
	width: 20%;
	margin: auto;
}


/*=====================INICIA SESION==========================*/

.login{
	background-color: rgb(89, 163, 255);
	padding: 1%;
	max-width: 45%;
	margin: auto;
}

.grid-container-login{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	align-content: center;
	justify-content: center;
}

.grid-container-login *{
	margin: 2%;
	padding: 2%;
	justify-content: center;
	align-content: center;
}

.align input{
	margin: 4% 45%;
}

.align p{
	margin: 0;
	text-align: center;
}

/*======================REGISTRO==============================*/

.grid-container-registro{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 15% 15% 15% 15% 15% 15% 15%;
	align-content: center;
	justify-content: center;
}

.grid-container-registro *{
	margin: 2%;
}

/*=====================ADMINSITRACION=====================*/

.boton_admin{
	justify-content: center;
	width: 50%;
	margin: auto;
}

.boton_admin a{
	padding: 3% 4%;
	background-color: aqua;
	margin: 2%;
	color: purple;
	text-decoration: none;
}

.admin_class{
	margin:3% 3%;
	background-color: rgb(89, 163, 255);
}

.grid-container-admin-class{
	display: grid;
	grid-template-columns: 33% 34% 33%;
}

.grid-container-admin-consumible{
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	grid-template-rows: 50% 50%;
}


/*=====================Galería y carrusel=====================*/

.galeria{
	background-color: rgb(89, 163, 255);

 }

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    width: 50%;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    text-align: center;
    line-height: 300px;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

